#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button:focus { 
  outline: none !important ;
}

.rounded-textfield {
  border-radius: 5px !important ;
}

.rounded-textfield .MuiFilledInput-root {
  border-radius: 30px !important; 
}